<!DOCTYPE html>
<html lang="en" ng-app="app">

  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/angular-confirm.min.css">
    <style>
        .grid {
            height: 700px;
        }
        .text-center {
            text-align: center;
        }
    </style>
  </head>

  <body ng-controller="myCtrl">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script data-require="angular.js@1.6.5" data-semver="1.6.5" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <link data-require="ui-grid@4.0.2" data-semver="4.0.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.css" />
    <script data-require="ui-grid@4.0.2" data-semver="4.0.2" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/angular-confirm.min.js"></script>
    <script src="js/script.js"></script>

    <div class="container-fluid">
      <br />

      <!-- Start buttons -->

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="form-inline">
            <button class="btn btn-primary mb-2 mr-sm-2 mb-sm-0" data-toggle="modal" data-target="#modalForm" id="agregarDatos">Agregar datos</button>
            <button type="button" class="btn btn-success mb-2 mr-sm-2 mb-sm-0" data-toggle="tooltip" data-placement="top" title="Debe seleccionar una fila" data-toggle="modal" data-target="#modalForm" ng-disabled="!countRows == 1 || countRows > 1"
              id="editarDatos">Editar datos</button>
              <button class="btn btn-danger mb-2 mr-sm-2 mb-sm-0" data-toggle="tooltip" data-placement="top" title="Debe seleccionar una fila" ng-init="countRows = 0" ng-disabled="countRows == 0 || countRows > 1" id="eliminarDatos" ng-click="deleteData()">Eliminar datos</button>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>

      <!-- End buttons -->

      <!-- Start modal form -->

      <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Agregar datos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form name="myForm" novalidate>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">ID</label>
                  <div class="col-sm-9">
                    <input type="number" name="id" class="form-control" id="modalId" placeholder="ID" ng-model="id" required/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Título</label>
                  <div class="col-sm-9">
                    <input type="text" name="titulo" class="form-control" id="modalTitulo" placeholder="Título" ng-model="titulo" required/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Lanzamiento</label>
                  <div class="col-sm-9">
                    <input type="date" name="lanzamiento" class="form-control" id="modalLanzamiento" value="" ng-model="lanzamiento" required/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Popularidad</label>
                  <div class="col-sm-9">
                    <input type="number" name="popularidad" class="form-control" id="modalPopularidad" placeholder="Popularidad" ng-model="popularidad" required/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Valoración</label>
                  <div class="col-sm-9">
                    <input type="number" name="valoracion" class="form-control" id="modalValoracion" placeholder="Valoración" ng-model="valoracion" required/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Géneros ID</label>
                  <div class="col-sm-9">
                    <input type="text" name="generos" class="form-control" id="modalGeneros" placeholder="Géneros ID" ng-model="generos" required/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Ganancias</label>
                  <div class="col-sm-9">
                    <input type="number" name="ganancias" class="form-control" id="modalGanancias" placeholder="Ganancias" ng-model="ganancias" required/>
                  </div>
                </div>
                <div id="modalAlert_1" ng-show="myForm.id.$error.required || myForm.titulo.$error.required ||
                                              myForm.popularidad.$error.required || myForm.valoracion.$error.required ||
                                              myForm.generos.$error.required || myForm.ganancias.$error.required ||
                                              myForm.lanzamiento.$error.required"
                                              class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert"></button>
                  <strong>Error!</strong> Debe completar todos los campos.</div>
                <div id="modalAlert_2" class="alert alert-success alert-dismissable collapse">
                  <button type="button" class="close" data-dismiss="alert"></button>
                  <strong>Éxito!</strong> Se han guardado los datos.</div>
              </form>
            </div>

            <div class="modal-footer">
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" id="btnClose" class="btn btn-secondary" ng-click="clearData()" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" id="btnSubmit" ng-click="addData()">Guardar cambios</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- End modal form -->

      <!-- Start Modal info (Description) -->

      <div class="modal fade" id="modalDescription" tabindex="-1" role="dialog" aria-labelledby="modalDescription" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{ descriptionTitle }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                {{ descriptionContent }}
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- End Modal info (Description) -->

      <br />

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div>
            <div id="grid1" ui-grid="gridOptions" ui-grid-selection="" ui-grid-edit="" class="grid"></div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>

    </div>
  </body>

</html>
